
body{
    background-color: #F2DEC4;
     font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

h2{
    text-align: center;
}

nav{
    background-color: #8C3D2B;
    padding: 5px;
    align-items: center;
}
nav ul{
    margin: auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav ul li{
    margin-right: 50px;
}

nav ul li a{
    color: #F2DEC4;
    text-decoration: none;
    font-size: 20px;
}

.nome{
    color: #F2DEC4;
    text-align: center;
    font-size: 25px;
}

nav ul li a[href = "sobre.html"] {
    color: #F2DEC4;
}



nav ul li a:hover{
    color: crimson;
}